/* Pro */
@font-face {
  font-family: "SanFranciscoPro";
  src: url('../public/fonts/SanFranciscoPro/SF-Pro.ttf') format('truetype');
}

/* ProDisplay */
@font-face {
  font-family: "SanFranciscoProDisplay_Bold";
  src: url('../public/fonts/SanFranciscoProDisplay/SF-Pro-Display-Bold.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProDisplay_Heavy";
  src: url('../public/fonts/SanFranciscoProDisplay/SF-Pro-Display-Heavy.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProDisplay_Light";
  src: url('../public/fonts/SanFranciscoProDisplay/SF-Pro-Display-Light.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProDisplay_Medium";
  src: url('../public/fonts/SanFranciscoProDisplay/SF-Pro-Display-Medium.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProDisplay_Regular";
  src: url('../public/fonts/SanFranciscoProDisplay/SF-Pro-Display-Regular.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProDisplay_Semibold";
  src: url('../public/fonts/SanFranciscoProDisplay/SF-Pro-Display-Semibold.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProDisplay_Thin";
  src: url('../public/fonts/SanFranciscoProDisplay/SF-Pro-Display-Thin.otf') format('otf');
}



/* ProText */
@font-face {
  font-family: "SanFranciscoProText_Bold";
  src: url('../public/fonts/SanFranciscoProText/SF-Pro-Text-Bold.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProText_Heavy";
  src: url('../public/fonts/SanFranciscoProText/SF-Pro-Text-Heavy.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProText_Light";
  src: url('../public/fonts/SanFranciscoProText/SF-Pro-Text-Light.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProText_Medium";
  src: url('../public/fonts/SanFranciscoProText/SF-Pro-Text-Medium.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProText_Regular";
  src: url('../public/fonts/SanFranciscoProText/SF-Pro-Text-Regular.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProText_Semibold";
  src: url('../public/fonts/SanFranciscoProText/SF-Pro-Text-Semibold.otf') format('otf');
}

@font-face {
  font-family: "SanFranciscoProText_Thin";
  src: url('../public/fonts/SanFranciscoProText/SF-Pro-Text-Thin.otf') format('otf');
}

@layer utilities {
  .font-SanFrancisco {
    font-family: "SanFranciscoPro";
    src: url('../public/fonts/SanFranciscoPro/SF-Pro.ttf') format('truetype');
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
      linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); */
    /* -webkit-mask-size: 100% 50% 50% 100%; */
    /* -webkit-mask-repeat: no-repeat; */
    /* -webkit-mask-position: left top, left bottom; */


  }

  .gradienL2R {
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0, 100), rgba(0, 0, 0, 100), rgba(0, 0, 0, 0));
    /* -webkit-mask-position: left top, left bottom; */
    -webkit-mask-size: 5% 80% 5%;
  }

  .gradienR2L {
    /* -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
      linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));  */
    /* /* -webkit-mask-position: right top, right bottom; */
    /* -webkit-mask-size: 100% ; */
  }




}


/* Max Width Container */
.container {
  @apply xl:max-w-[1440px] mx-auto;
}




/* Buttons */
.ButtonPrimary {
  @apply w-full h-[50px] bg-white rounded-[20px] font-SanFrancisco text-black text-lg font-bold uppercase hover:bg-black hover:text-white hover:border-white hover:border-2;
}

.ButtonPrimaryKeepHover {
  @apply w-full h-[50px] rounded-[20px] font-SanFrancisco text-lg font-bold uppercase bg-black text-white border-white border-2 hover:bg-white hover:text-black;
}

.ButtonSecondary {
  @apply w-full h-[50px] bg-secondaryDark-0 rounded-[20px] font-SanFrancisco text-white text-lg font-bold uppercase hover:bg-black hover:text-secondaryDark-0 hover:border-secondaryDark-0 hover:border-2;
}

.ButtonSecondaryKeepHover {
  @apply w-full h-[50px] rounded-[20px] font-SanFrancisco text-lg text-secondaryDark-0 font-bold uppercase hover:bg-secondaryDark-0 hover:text-white border-2 border-secondaryDark-0 hover:border-2;
}

/* Scroll Bar */
.group {}